{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },

  "extends": [
    "eslint:recommended",
    "eslint-config-prettier",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-console": "off",
    "react/react-in-jsx-scope": "off"
  },
  "env": {
    "browser": true,
    "commonjs": true
  }
}
